@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать, @DB.RuLang[DB.status]!</h1>
    <div class="desc_text">
        <h1>Станция скорой помощи для животных</h1>
        <p>
            Станция скорой помощи для бездомных животных «Антидогхантер Zoohelp Пермь» (ССП) – это негосударственная некоммерческая организация, целью которой является помощь животным, оказавшимся в тяжелой жизненной ситуации [6].
            ССП работает на территории Пермского края. Организована ССП была в мае 2015 года, Семеном Филипповским. 
            В марте 2021 года был учрежден фонд помощи животным «Станция скорой помощи».
            <db>
            ТЕКСТ КАРТИНКИ ССЫЛКИ
        </p>
    </div>
</div>
