@model WebApplication2.DataObjects.Donator

@{
    ViewData["Title"] = "Details";
}

<h1>Подробности</h1>

<div>
    <h4>Благотворитель @Model.DonatorId</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonatorNickname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonatorNickname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DonatorId" class="btn btn-sm btn-info"><i class="fa fa-pencil fa-lg"></i></a> 
    <a asp-action="Index">Назад</a>
</div>
